/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    background-color: aqua;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;

    /* transition: background-color 3s; */
    
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/* .box:hover {
    height: 400px;
} */

@keyframes rotate-box {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes example {
    0% {
       background-color: red; 
       left: 0px; 
       top: 0px;
    }  
    25% {
       background-color: yellow; 
       left: calc(100% - 200px); 
       top: 0px;
    }  
    50% {
       background-color: blue; 
       left: calc(100% - 200px); 
       top: calc(100% - 200px);
    }   
    75% {
       background-color: green; 
       left: 0px; 
       top: calc(100% - 200px);
    } 
    100% {
       background-color: red; 
       left: 0px; 
       top: 0px;
    }   
}
  